# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# Google OAuth SSO
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# WhatsApp (UltraMsg)
WHATSAPP_TOKEN=
WHATSAPP_INSTANCE=

# Base de datos
DB_URL=
DB_USERNAME=
DB_PASSWORD=
