html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* El contenedor principal debe ocupar todo el espacio disponible */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* El contenido principal debe expandirse para llenar el espacio disponible */
main {
    flex: 1;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2b89f1;
    padding: 20px 20px 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo i {
    font-size: 2em;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.ong-logo {
    height: 50px;
    margin-right: 10px;
    margin-top: -15%;
}

.filter-select {
    padding: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

header input[type="text"] {
    flex-grow: 1;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.buttons a {
    text-decoration: none;
}

main {
    padding: 1%;
    background-color: rgb(218, 216, 216);
    display: grid;
    place-content: center;
}

/*Inicio estilo del uploader*/
.create-account-section {
    max-width: 1400px;
    width: 95%;
    background-color: white;
    padding: 2%;
    border-radius: 16px;
    margin-inline: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-account-section h1 {  
    text-align: center;
    margin-block: 28px;
    color: #2b89f1;
    margin-top: 0;
    font-size: 2.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

#issue_type, #fridge {
    width: 100%;
}

#file_upload_box {
    justify-content: center;
    border-radius: 5px;
    min-height: 200px;
    border: 2px dashed #B1ADD4;
    height: 100%;
}
#file_upload_box.active{
    border: 4px solid #B1ADD4;
} 

#file_upload_box.dragover {
    background-color: #f1f1f1;
    border-color: #007bff;
}

.preview-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
}

.remove-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 0;
}

.remove-image:hover {
    background: rgba(0, 0, 0, 0.8);
}



.dragover {
    border: 2px dashed #007bff;
}


/*Fin estilo del uploader*/

footer {
    background-color: #2b89f1;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    width: 24%;
}

footer div p {
    margin: 5px 0;
}

#box_title{
   text-align: center; 
}

#select_file_button {
    width: 50%;
    align-self: center;
    margin-top: 2%;
}
#select_file_button.active{
    background-color:rgb(69, 98, 131);
}

#create_account_vul_button {
    width: 100%;
    align-self: center;
    margin-top: 30px;
    padding: 5px;
}
#create_account_vul_button.active{
    background-color: #007bff;
    border-color: #007bff;
}
#file_tip {
    color: #9ca3af;
    font-size: 70%;
}
#file_tip.active{
    color: #212121;
}
footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

footer .social-media a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 2.5em;
}

footer .social-media a:last-child {
    margin-right: 0;
}
/* dropdown menu 1 */
.dropdown-container_1 {
    position: relative;
    overflow: visible;
}

.dropdown-menu_1 {
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 8px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    gap: 0.5rem;
    z-index: 9999;
    transition: 0.3s;
}

.dropdown-container_1:hover > .dropdown-menu_1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu_1.grid {
    display: grid;
    grid-template-columns: repeat(2, 240px);
}

.dropdown-menu_1 > a {
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    background-color: #292929;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: space-between;
    text-decoration: none;
    font-size: 0.875rem;
}

.dropdown-menu_1 > a:hover {
    background-color: #353535;
}

.dropdown-menu_1 > a > span:nth-of-type(2) {
    color: #9ca3af;
}

/* Fin dropdown menu 1*/

#whatsapp_button {
    margin-right: 10px;
}

#whatsapp_button_2 {
    margin-right: 10px;
}

.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 40%;
}

.toggle-button img {
    width: 32px;
    height: 32px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-2 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 40%;
}

.toggle-button-2 img {
    width: 32px;
    height: 32px;
}

.toggle-button-2:focus {
    outline: none;
}

#add-contact-button {
    width: 100%;
    color: white;
    display: inline-block;
    font-weight: bold;
    background-color: #0daf0a;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 5px 5px;
    cursor: not-allowed;
}

#add-contact-button:enabled {
    cursor: pointer;
}

#create_account_button {
    cursor: not-allowed;
}

#create_account_button:enabled {
    cursor: pointer;
}

.custom-confirm-button {
    background-color: #28a745 !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}
.custom-confirm-button:hover {
    background-color: #218838 !important;
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 913px) {
    .toggle-button {
        margin-top: 0%;
        margin-bottom: 2%;
    }

    .toggle-button-2 {
        margin-top: 0%;
        margin-bottom: 2%;
    }

    #add-contact-button {
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .create-account-section h1 {
        font-size: 2rem;
    }
}

.info-box {
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    color: #333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 94%;
    z-index: 10;
}

.btn-visibility {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: black;
}
.btn-visibility:focus {
    outline: none;
}

.close-button {
    font-family: inherit;
    border: 0;
    color: inherit;
    background: none;
    cursor: pointer;
    color: black;
    position: absolute;
    font-size: 20px;
    padding: 7px 11px;
    border-radius: 50%;
}
.close-button:hover {
    background-color: #979797;
}